html {
	background: url(noise.png);
}

html, body {
	margin: 0;
	font-size: 120%;
	padding: 0;
  font-family: 'Varela', sans-serif;
}

#wrapper{
  width:20em;
  margin-left:auto;
  margin-right:auto;
}

h1{
  text-align:center;
  margin-bottom:10px;
}

h2{
  margin-top:1.5em;
  margin-bottom:0px;
  font-weight:normal;
  font-size:1em;
  color: #555;
}

#explenation{
  margin-bottom:60px;
  text-align:center;
  color:#aaa;
}

#explenation #why{
  margin-top:30px;
}

#explenation a{
  margin-left: 15px;
  font-size:80%;
  color:#bbb;
}

a {
  color:black;
  text-decoration:underline;
}

a :visited {
  color:#black;
}

a:hover {
 color: #555;
}

input {
  font-size: 1em;
  border: none;
  border-bottom: 1px dashed #888;
  width:90%;
  background:none;
  -webkit-appearance: none;
  font-family: 'Varela', sans-serif;
}

textarea {
  font-size: 1em;
  border: none;
  border-bottom: 1px dashed #888;
  width:90%;
  background:none;
  -webkit-appearance: none;
  font-family: 'Varela', sans-serif;
}


#step-3 textarea {
  margin-top:0.3em;
  width:80%;
}

#upload{
  float:right;
  margin-top:10px;
}

input:focus{
  outline: none;
  border-bottom: 2px dashed #aaa;  
}

textarea:focus{
  outline: none;
  border-bottom: 2px dashed #aaa;  
}

.num{
  color:#ccc;
  position:relative;
  margin-right: 0.3em;
  top:-0.3em;
  font-size:2em;
  float:left;
  padding-bottom:1em;
  height:1em;
  clear:both;
}

#step-1 p {
  margin-top:0.5em;
  color:#666;
}

ul{
  margin-top:1em;
}

li {
  list-style-type:none;
  margin-bottom:0.5em;  
}

.in {
  text-align:right;
}

.new-session{
  color:gray;
  font-size:60%;
  margin-top:4em;
  text-align:center;
}
