html {
	background: url(noise.png);
}

html, body {
	margin: 0;
	font-size: 120%;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#wrapper{
  width:400px;
  margin-left:auto;
  margin-right:auto;
}

h1{
  text-align:center;
  margin-bottom:1em;
}

h2{
  margin-top:1.5em;
  margin-bottom:0px;
  font-weight:normal;
  font-size:1em;
  color: #555;
}

input {
  font-size: 1em;
  border: none;
  border-bottom: 1px dashed #888;
  width:90%;
  background:none;
  -webkit-appearance: none;
}

input:focus{
  outline: none;
  border-bottom: 2px dashed #aaa;  
}

.num{
  color:#ccc;
  position:relative;
  margin-right: 0.3em;
  top:-0.3em;
  font-size:2em;
  float:left;
  height:1em;
}

ul{
  margin-top:0.5em;
}

li {
  list-style-type:none;
  margin-bottom:0.5em;  
}
