<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>cross copy</string>
	<key>CFBundleExecutable</key>
	<string>crosscopyiosclient</string>
	<key>CFBundleIconFile</key>
	<string>crosscopy-icon-57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Images/crosscopy-icon-57.png</string>
		<string>Images/crosscopy-icon-114.png</string>
		<string>Images/crosscopy-icon-72.png</string>
		<string>Images/crosscopy-icon-144.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>net.cross-copy.free</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>crosscopy-ios-client</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>Images/crosscopy-icon-57.png</string>
		<string>Images/crosscopy-icon-114.png</string>
		<string>Images/crosscopy-icon-72.png</string>
		<string>Images/crosscopy-icon-144.png</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MinimumOSVersion</key>
	<string>4.3</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
