html, body {
	margin: 0;
	font-size: 100%;
	padding: 0;
	background: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
}

.project{
  color:white;
  float:left;
  margin:1em;
  padding:0.2em;
  width:380px;
  height:200px;
  background:#eee;
  overflow:auto;
}

.project .name {
  font-size:200%;
  border: none;
  background:none;
  width:85%;
  height: 1.2em;
  padding: 0.2em;
}

.action{
  padding-bottom: 10px;
  border:none;
  height:1em;
  background:none;
  color:black;
  width:97%;
  text-align:left;
  overflow:hidden;
}

.new {
  color:black;
  width:97%;
  border:none;
}

.button{
  padding:0.3em;
}
